<% provide(:title, 'Login') %>

<h1>Log in</h1>

<p>


<center>
    <div style="display: inline-block; text-align: left">
    <br>email
    <br><input></input>
    <br>password
    <br><input></input>
    
    
<br><%= link_to "log in", '#', class: "btn btn-lg btn-primary" %>

<br>New user? 

<a href="http://www.railstutorial.org/contact">Sign up now!</a>.
</div>
</center>
</p>