<% provide(:title, 'Login') %>

<h1>Log in</h1>

<p>


<center>
    <br>email
    <br><input></input>
    <br>password
    <br><input></input>
    
<br><%= link_to "log in", login_path, class: "btn btn-lg btn-primary" %>

<br>New user? 

<a href="http://www.railstutorial.org/contact">Sign up now!</a>.

</center>
</p>